include *.txt
include *.md
include *.pkl
recursive-include ./vehicleinsurance_model *

include vehicleinsurance_model/datasets/bike-rental-dataset.csv
include vehicleinsurance_model/datasets/test.csv
include vehicleinsurance_model/trained_models/*.pkl
include vehicleinsurance_model/VERSION
include vehicleinsurance_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]